
.*
_*
*.out

!.github
!.gitignore
!.gitmodules

data/ccs_fastq/*

results/*

!results/gene_sequence
results/gene_sequence/*
!results/gene_sequence/codon.fasta
!results/gene_sequence/protein.fasta

!results/variants
results/variants/*
!results/variants/codon_variants.csv

!results/barcode_counts
results/barcode_counts/*
!results/barcode_counts/*_counts.csv

!results/func_scores
results/func_scores/*
!results/func_scores/*_func_scores.csv

!results/func_effects
results/func_effects/*
!results/func_effects/by_selection
results/func_effects/by_selection/*
!results/func_effects/by_selection/*_func_effects.csv
!results/func_effects/averages
results/func_effects/averages/*
!results/func_effects/averages/*_func_effects.csv
!results/func_effects/averages/*_latent_effects.csv

!results/func_effect_shifts
results/func_effect_shifts/*
!results/func_effect_shifts/by_comparison
results/func_effect_shifts/by_comparison/*
!results/func_effect_shifts/by_comparison/*_shifts.csv
!results/func_effect_shifts/averages
results/func_effect_shifts/averages/*
!results/func_effect_shifts/averages/*_shifts.csv

!results/antibody_escape
results/antibody_escape/*
!results/antibody_escape/by_selection
results/antibody_escape/by_selection/*.pickle
results/antibody_escape/by_selection/*.csv
!results/antibody_escape/averages
results/antibody_escape/averages/*
!results/antibody_escape/averages/*_mut_effect.csv
!results/antibody_escape/averages/*_mut_icXX.csv

!results/summaries
results/summaries/*
!results/summaries/summary.csv
!results/summaries/per_antibody_escape.csv

!results/filtered_antibody_escape_CSVs
results/filtered_antibody_escape_CSVs/*
!results/filtered_antibody_escape_CSVs/*_filtered_mut_effect.csv

!results/simplified_filtered_antibody_escape_CSVs/
results/simplified_filtered_antibody_escape_CSVs/*
!results/simplified_filtered_antibody_escape_CSVs/*_filtered_mut_effect.csv

!results/filtered_func_effect_CSVs/
results/filtered_func_effect_CSVs/*
!results/filtered_func_effect_CSVs/*_filtered_func_effects.csv

!results/mapped_scores_onto_pdb/
results/mapped_scores_onto_pdb/*
!results/mapped_scores_onto_pdb/*.pdb

!results/antibody_escape_profiles/
results/antibody_escape_profiles/*
!results/antibody_escape_profiles/*.svg

!results/validation_plots/
results/validation_plots/*
!results/validation_plots/*.svg

!results/summary_of_libraries/
results/summary_of_libraries/*
!results/summary_of_libraries/*.csv

node_modules/
!homepage/.vitepress/
homepage/.vitepress/cache/
homepage/.vitepress/dist/

non-pipeline_analyses/pdb_viewing/*

non-pipeline_analyses/LASV_phylogeny_analysis/Results/GPC_codon_reduced_tree/*
non-pipeline_analyses/LASV_phylogeny_analysis/Results/GPC_protein_reduced_tree/*
non-pipeline_analyses/LASV_phylogeny_analysis/Results/GPC_codon_tree/*
non-pipeline_analyses/LASV_phylogeny_analysis/Results/GPC_codon_tree_with_outgroup/*
non-pipeline_analyses/LASV_phylogeny_analysis/Results/GPC_protein_tree/*
non-pipeline_analyses/LASV_phylogeny_analysis/Results/S_segment_tree/*
!non-pipeline_analyses/LASV_phylogeny_analysis/Results/Figures/

non-pipeline_analyses/DAG1_phylogeny_analysis/Results/*
!non-pipeline_analyses/DAG1_phylogeny_analysis/Results/Figures/

non-pipeline_analyses/LASV_NGS_analysis/Results/
non-pipeline_analyses/LASV_NGS_analysis/Data/